In [8]:
from pandas import read_csv
import pandas as pd
import numpy as np
import import_ipynb
from UtilDataframes import cvtTimestampIntoDatetimeIndex, split_date, add_n_last_periods, split_features_from_target
from datetime import datetime, timedelta
from statsmodels.tsa.arima.model import ARIMA
from time import time

In [9]:
data = read_csv("../data/btc.csv")
data.drop('Unnamed: 0', axis=1)
data = data[['timestamp', 'Close']]
cvtTimestampIntoDatetimeIndex(data, 'timestamp')
data = data.asfreq(pd.infer_freq(data.index))
data

                            Close
timestamp
2021-09-14 03:21:00  45298.868508
2021-09-14 03:22:00  45348.035714
2021-09-14 03:23:00  45333.891429
2021-09-14 03:24:00  45277.501429
2021-09-14 03:25:00  45269.988333
...                           ...
2021-09-21 01:56:00  42899.012857
2021-09-21 01:57:00  42860.005714
2021-09-21 01:58:00  42827.020000
2021-09-21 01:59:00  43017.277143
2021-09-21 02:00:00  43002.505000

[10000 rows x 1 columns]

# Rolling Forecast Origin

**Consiste en predecir, como máximo, el periodo siguiente (t + 1), en base a los k periodos anteriores**

## Separamos en columnas de predicción y columna a predecir

In [10]:
train_end_date = datetime(2021, 9, 21)
train, test = split_date(data, train_end_date)

timestamp
2021-09-14 03:21:00    45298.868508
2021-09-14 03:22:00    45348.035714
2021-09-14 03:23:00    45333.891429
2021-09-14 03:24:00    45277.501429
2021-09-14 03:25:00    45269.988333
                           ...
2021-09-21 01:56:00    42899.012857
2021-09-21 01:57:00    42860.005714
2021-09-21 01:58:00    42827.020000
2021-09-21 01:59:00    43017.277143
2021-09-21 02:00:00    43002.505000
Freq: T, Name: Close, Length: 10000, dtype: float64